{% extends 'base.html.twig' %}

{% block stylesheets %}

	 {{ parent() }}
	
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     
{% endblock %}

{% block header %}

{% endblock %}	

{% block sidebar %}
	{% include 'ProdeBundle:Default:tabla.html.twig' %}
{% endblock %}	

{% block content %}


	<div class="contentNav">
		<div></div>
		<div class="banner"> Próximos Partidos </div>
		<div class= "left-banner">
			 {% if app.user %}
			<a href="#"  data-url="{{ (path('prode_homepage')) }}" class="btn-nav" id="guardar">GUARDAR</a>
			 {% else %}
			 	<div></div>
			 {% endif %}
		</div>
	</div>
	
	
		{% include 'ProdeBundle:Default:partidos.html.twig' %}
	
		  
	
	</div>
{% endblock %}	

{% block footer %}

{% endblock %}	

{% block javascripts %}
	{% include 'ProdeBundle:Default:javascript.html.twig' %}
{% endblock %}	