	<div class="tabla">
		<div> Pos </div>
		<div> Nombre </div>
		<div> Ptos </div>
		<div> SP </div>
		<div> P </div>
		<div> R </div>
	

		<div> 1 </div>
		<div> PepePepe </div>
		<div> 45 </div>
		<div> 3 </div>
		<div> 2 </div>
		<div> 6 </div>
	

		<div> 2 </div>
		<div> PepePepe </div>
		<div> 45 </div>
		<div> 3 </div>
		<div> 2 </div>
		<div> 6 </div>


			<div> 3 </div>
		<div> PepePepe </div>
		<div> 45 </div>
		<div> 3 </div>
		<div> 2 </div>
		<div> 6 </div>

	</div>