body {
  margin: 1.5em 4em;
}


/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contenedor {
  margin:5px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #e8e3e3;
  color: #50506b;
}

.content {
  grid-area: content;
  position: relative;
  color: #50506b;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
    "header  header  header"
        "sidebar content content"
        "footer  footer  footer";
        background-color: #fff;
        color: #444;
    }


.box {
  border-radius: 1px;
  padding: 50px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #257fc5;
  font-family: 'Black Han Sans', sans-serif;
  color: #fff;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 0.6fr 1fr 1fr;
  
    grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
    background-color: #fbf2f2;
    color: #292525;
  }


.box {
  background-color: #ececec;
  color: #292525;
  border-radius: 2px;
  padding: 5px;
  font-size: 105%;
}

.header,
.footer {
  background-color: #fbf2f2;
}

.partidos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;

}

.partido {

  display: grid;
  grid-template-areas:
    "bandera  equipo  menos resultado mas"
    "bandera  equipo  menos resultado mas"
    "fecha fecha fecha fecha fecha";
  padding: 0.1em 0.7em;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 0.6fr 3.5fr 1fr 1fr 1fr;
  border: 2px solid #e6e8e8;
  background-color: #fff;
  align-items: center;

}

.resultado {

  background-color: #e6e8e8;
  border: 0.2px solid #b3b3b3;
  width: 50px;
  margin: 0;
  padding: 0.5em 0em;
      text-align: center; 
          box-sizing: border-box;


}

.partido img {
  height: 30px;
}

.fecha {
  justify-self: end;
  color: grey;
}

.mas, 
.menos {
      background-color: #e6e8e8;
      border: 0.2px solid #b3b3b3;
      justify-self:end;
       text-align: center; 

      margin: 0.3em 0;
      padding: 0.5em 10px ;
      width: 40px;
          

}

.mas {
  justify-self:start;
}


.glyphicon-plus-sign {

    padding-right: 0.4em;
}

.glyphicon-minus-sign {
    padding-left: 0.4em;
}